
.btn-roxo-e{
	
	background-color: #8453B3;
	color: white;
}

.btn-roxo-e:hover{
    background-color: #A373D1;
}

.btn-roxo-c{
	background-color: #A373D1;
	color: white;
}

.btn-roxo-c:hover{
    background-color: #8453B3;
}


.caixa{
	padding: 60px 0px;
}

.caixa-forms{
    margin-top: 40px;
}

.first-text-area{
	margin-top: 40px;
}


h4, p{
	color: #8453B3;
}

.negrito{
	font-weight: bolder;
}

#footer_unicap{
    background-color: #690013;
}
