<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">

		<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">

		<link rel="stylesheet" type="text/css" href="../../static/css/styleLogin.css">

		<link rel="icon" href="imagens/logo.png">
</head>
<body>
    <header>
			
        <nav class="navbar navbar-expand navbar-light">
            
            <div class="container">

                <a href="#" class="navbar-brand">
                    <img src="../../static/imagens/logo.png" width="142">
                </a>
                <ul class="navbar-nav ml-auto">
						
                    <li class="nav-item">

                        <a href="TelaCadastroInterno.html" class="nav-link">
                            <button class="btn btn-roxo-e">Cadastrar</button>
                        </a>

                    </li>

                </ul>
                

            </div>

        </nav>

    </header>
    <section>
        <div class="container">
            <div class ="title text-center">
                    <h1 class = "">LOGIN</h1>
            </div>
                <div class="flex-box container-box"> 
                    <form class="user" action="/logar">
                        <div class = form-group>
                            <input type="email" form="form-control form-control-user" id="inserirEmail" 
                            placeholder="E-mail ">
                        </div>
                        <div class = form-group>
                            <input type="senha" form="form-control form-control-user" id="inserirSenha" 
                            placeholder="Senha ">
                        </div>
                        <div class="button-container">
                            <button class="btn btn-roxo-c btn-user btn-large">
                                ENTRAR
                            </button>
                            <button class="btn btn-roxo-c btn-user btn-small">
                                VOLTAR
                            </button>
                        </div>
                    </form>
                </div>
        </div>
    </section>
    <footer id="footer_unicap">
			
        <div >
            <a href="https://portal.unicap.br/">

            </a>
            <img src="../../static/imagens/footer_unicap.png" class="rounded mx-auto d-block img-fluid" width="900">

        </div>

    </footer> 
</body>
</html>